/* HALAMAN UPDATE PHOTO */
.garis{
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
img{
    padding-top: 20px;
}
.profile p{
    padding-top: 15px;
    font-weight: 400;
    font-size: 17px;
}
.profile span{
    font-size: 14px;
    text-align: center;
}
.profile{
    text-align: center;
}
.profile .update{
    font-weight: 700;
    font-size: 17px;
    margin-right: 120px;
    margin-top: 60px;
}
.dropzone {
    border: 2px dashed #ddd;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.dropzone p {
    font-size: 18px;
    margin-bottom: 0;
}

/* HALAMAN UPDATE PROFILE */
.list p{
    font-size: 16px;
    font-weight: 400;
}
.list h3{
    font-weight: 400;
    font-size: 26px;
}
.list .row .form-control{
    border: 0.2px solid #000000;
    border-radius: 5px;
    background-color: #F6F6F6;
    width: 307px;
    height: 44px;
}
.list .row .form-select{
    border: 0.2px solid #000000;
    border-radius: 5px;
    background-color: #F6F6F6;
    width: 307px;
    height: 44px;
}
.list .row .form-label{
    font-weight: 400;
    font-size: 14px;
}
.list .row .tahun{
    width: 135px;
}
.list h6{
    font-weight: 400;
    font-size: 14px;
}
.garis1{
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 700px;
    margin-left: 40px;
    padding: 20px;
}
.kolom{
    width: 280px;
}
.pilih{
    height: 30px;
    width: 280px;
}
.form-2{
    margin-left: 300px;
    margin-top: -211px;
}
.thn{
    width: 137px;
    margin-left: 20px;
}
.thn2{
    width: 120px;
}
.favorite{
    margin-left: 40px;
    margin-right: 10px;
}
.gambar{
    margin-right: 15px;
}
.btn-primary{
    background-color: #0FA958;
    font-weight: 600;
    font-size: 15px;
    width: 149px;
    border-radius: 10px;
}
.list .row .icon{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}