/* HALAMAN UPDATE PHOTO */
.garis {
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.garis .profile img {
    padding-top: 20px;
}
.profile p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 17px;
}
.profile span {
    font-size: 14px;
    text-align: center;
}
.profile {
    text-align: center;
}
.profile .update {
    font-weight: 700;
    font-size: 17px;
    margin-top: 60px;
}
.dropzone {
    border: 2px dashed #ddd;
    padding: 80px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    opacity: 0.5;
}

/* HALAMAN UPDATE PROFILE */
.list p {
    font-size: 16px;
    font-weight: 400;
}
.list h3 {
    font-weight: 400;
    font-size: 26px;
}
.list .row .form-control {
    border: 0.2px solid #000000;
    border-radius: 5px;
    background-color: #f6f6f6;
    width: 100%;
}
.list .row .form-select {
    border: 0.2px solid #000000;
    border-radius: 5px;
    background-color: #f6f6f6;
    width: 100%;
}
.list .row .form-label {
    font-weight: 400;
    font-size: 14px;
}
.list .row .tahun {
    width: 100%;
}
.list h6 {
    font-weight: 400;
    font-size: 14px;
}
.garis1 {
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 63%;
    display: flex;
    margin-left: auto;
    margin-top: auto;
    padding: 30px;
}
.kolom {
    width: 280px;
}
.pilih {
    height: 30px;
    width: 280px;
}
.form-2 {
    margin-left: 300px;
    margin-top: -211px;
}
.thn {
    width: 137px;
    margin-left: 20px;
}
.thn2 {
    width: 120px;
}
.favorite {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.gambar {
    margin-right: 15px;
}
.btn-success {
    background-color: #0fa958;
    font-weight: 600;
    font-size: 15px;
    width: 149px;
    border-radius: 10px;
    border: none;
}
.btn-success:hover {
    background: #0dc060;
    font-weight: 600;
    font-size: 15px;
    width: 149px;
    border-radius: 10px;
}
.list .row .icon {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.favorite input[type="checkbox"] {
    display: none;
}

.favorite input[type="checkbox"] + img {
    cursor: pointer;
    border: 1px solid #ffffff;
    padding: 5px;
}

.favorite input[type="checkbox"]:checked + img {
    border-radius: 10px;
    border: 2px solid #0fa958;
}

@media (max-width: 991px){
    .garis{
        width: 90%;
        margin: auto;
    }
    .garis1{
        width: 90%;
        margin: auto;
    }
    .form-control{
        width: 33%;
        margin-right: 100%;
    }
    .form-select{
        width: 100%;
    }
    .favorite {
        margin-left: 0px;
    }
    .favorite .gambar {
        margin-right: 40px;
    }
}
