.hero .imghero {
    width: 100%;
    height: 420px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0hero 0.25));
    border-radius: 30px;
    margin-bottom: 20px;
}
.hero .head {
    font-weight: 600;
    font-size: 45px;
    color: #000000;
}
.hero .desk {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}
.hero .bulat {
    width: 60px;
    height: 60px;
    background: #fcffb2;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .bulat img {
    width: 60%;
}
.hero .bulat .tiket {
    width: 100%;
}
.hero .bulat:active {
    background-color: #e7e980;
}
hr {
    border: 1px solid #a5a5a5;
}
.deskripsi h1 {
    font-weight: 600;
    font-size: 25px;
    color: #0fa958;
}
.deskripsi p {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.deskripsi ul li {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.fasilitas .isi {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.fasilitas .isi .bungkus {
    display: flex;
    flex-wrap: wrap;
}

.fasilitas .isi .waktu{
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 30px;
}

.fasilitas p {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
    color: #0fa958;
}

.fasilitas h3 {
    margin-top: -10px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 35px;
    color: #0fa958;
}

.fasilitas label{
    font-size: 20px;
    font-weight: 400;
}

.fasilitas span{
    font-weight: 700;
    font-size: 20px;
}

.pembayaran {
    margin-top: 10px;
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
}

.pembayaran .dat {
    margin-bottom: 30px;
}

.pembayaran .dat h4 {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.pembayaran .dat h5 {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.pembayaran .dat .status {
    width: 110px;
    background: #0fa958;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pembayaran .dat .status span {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}

.pembayaran .data {
    width: 60%;
}

.pembayaran .datakanan {
    width: 40%;
}

@media (max-width: 991px) {
    .hero .imghero {
        height: 260px;
    }
    
    .hero .head {
        font-size: 32px;
    }
    
    .hero .desk {
        font-size: 17px;
    }
    
    .hero .bulat {
        width: 50px;
        height: 50px;
    }
    
    .hero .bulat img {
        width: 60%;
    }

    .hero .bulat .tiket {
        width: 100%;
    }

    .deskripsi p {
        font-size: 16px;
    }

    .deskripsi ul li {
        font-size: 16px;
    }
    .fasilitas .isi {
        width: 90%;
        margin: auto;
    }
    .fasilitas .isi p {
        font-size: 25px;
    }
}