* {
    font-family: "Arial, sans-serif";
}

/* navbar */
.navbar {
    background-color: #b6e388;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
    color: #000000;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.navbar .dropdown-menu {
    background-color: #b6e388;
    border: none;
    position: relative;
    top: 0px;
}

.navbar .dropdown-menu .dropdown-item {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.navbar .dropdown-menu .dropdown-item:hover {
    transition: all ease-in-out 0.1s;
    color: #ffffff;
    background: #0dc060;
}

.navbar .garis {
    border: 1px solid #000000;
    height: 40%;
}

.navbar .btn-temp {
    background-color: #ffffff;
    border: none;
    color: #b6e388;
    padding: 5px 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
}

.container-fluid {
    padding-bottom: 100px;
    background-color: #b6e388;
    border-bottom: 20px solid #b6e388;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 200px));
    border-bottom-left-radius: 450px;
    border-bottom-right-radius: 100px;
}

.baris-temp {
    padding-top: 50px;
}

.kata h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    color: #ffffff;
}

.kata p {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
}

.semuakotak {
    position: relative;
    z-index: 99;
    margin-top: -180px;
}

.semuakotak .kotak1 {
    margin-left: 15%;
}

.semuakotak hr {
    border: 1px solid #a5a5a5;
}

.kotak {
    width: 80px;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kotak a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}

.kotak a:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.pencarian {
    margin-top: 100px;
    margin-bottom: 40px;
}

.pencarian .btn-success {
    background: #0fa958;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

.pencarian .btn-success:hover {
    transition: all ease-in-out 0.4s;
    background: #0dba5e;
    border-radius: 10px;
    border: 0px solid #ffffff;
}

#cari {
    width: 300px;
    height: 50px;
    border: 1px solid #747474;
    border-radius: 10px;
    margin-right: 20px;
}

.headrekom h3 {
    font-weight: 600;
    font-size: 29px;
    color: #000000;
}

.headrekom h3 span {
    font-weight: 700;
    font-size: 29px;
    color: #0fa958;
}

.headrekom .col-4 a {
    font-weight: 600;
    font-size: 20px;
    color: #6b6b6b;
    display: flex;
    justify-content: end;
    align-items: center;
}

.headrekom .col-4 a:hover {
    transition: all ease-in-out 0.4s;
    color: #000000;
}

.headrekom .col-4 a {
    font-weight: 600;
    font-size: 20px;
    color: #6b6b6b;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rekomendasi a {
    text-decoration: none;
}

.rekomendasi a h5:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.rekomendasi a h5 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.rekomendasi h6 {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.rekomendasi h6 span {
    font-weight: 400;
    font-size: 14px;
    color: #0fa958;
}

.rekomendasi h6 .harga {
    font-weight: 700;
    font-size: 14px;
    color: #0fa958;
}

/* footer */
.footer-edit {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: #b6e388;
    border-top: 20px solid #b6e388;
    clip-path: polygon(0 calc(100% - 80%), 100% 0, 100% 100%, 0 100%);
    border-top-left-radius: 176px;
    border-top-right-radius: 100px;
}

.footer-edit .pilihan {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
}

.footer-edit p a {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.promo {
    margin-top: 100px;
}

.promo .desk {
    margin-top: 50px;
}

.promo .desk h4 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.promo .desk h4 {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.promo .desk h4 span {
    color: #0fa958;
}

.promo .desk p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.promo .desk a {
    font-weight: 600;
    font-size: 15px;
    color: #000000;
}

/* Carousel */

* {
    box-sizing: border-box;
}

.carousel {
    background: #ffffff;
}

.carousel-cell {
    width: 30%;
    height: 370px;
    margin-right: 20px;
}

.carousel-cell a {
    text-decoration: none;
}

.carousel-cell a .tanda {
    position: absolute;
    top: 5%;
    left: 70%;
    width: 70px;
    height: 25px;
    background-color: #b6e388;
    border-radius: 10px;
}

.carousel-cell a .tanda span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
}

.carousel-cell a h5:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.carousel-cell a h5 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.carousel-cell h6 {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.carousel-cell h6 span {
    font-weight: 400;
    font-size: 14px;
    color: #0fa958;
}

.carousel-cell h6 .harga {
    font-weight: 700;
    font-size: 14px;
    color: #0fa958;
}

.jenis h3 {
    font-weight: 600;
    font-size: 29px;
    color: #000000;
}

.jenis h3 span {
    font-weight: 700;
    font-size: 29px;
    color: #0fa958;
}

.carousel2 {
    background: #ffffff;
}

.carousel-cell2 {
    width: 100%;
    height: 370px;
    margin-right: 10px;
    background: #ffffff;
    border-radius: 0px 240px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.carousel-cell2 {
    text-decoration: none;
}

.carousel-cell2 .namaolahraga {
    position: absolute;
    left: 55px;
    top: 82%;
    width: 480px;
    height: 70px;
    background: #b6e388;
    border-radius: 0px 40px 0px 0px;
}

.carousel-cell2 .namaolahraga span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}


.baris-temp .gambarhero {
    display: flex;
    justify-content: end;
}

.footer-edit .container .logopembayaran {
    display: flex;
    flex-wrap: wrap;
}

.footer-edit .container .logopembayaran img {
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-edit .container .logopembayaran .linkajafoot {
    width: 40px;
    height: 40px;
}

@media (max-width: 991px) {
    .baris-temp .kata {
        margin-top: -30px;
    }

    .kata h1 {
        font-size: 55px;
        line-height: 70px;
    }
    
    .kata p {
        font-size: 19px;
        line-height: 21px;
    }

    .baris-temp .gambarhero {
        margin-top: 20px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    .baris-temp .gambarhero img {
        width: 300px;
    }

    .kotak a {
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        color: #000000;
    }

    .semuakotak .row {
        display: flex;
        justify-content: center;
    }

    .semuakotak .kotak1 {
        margin-left: 0;
    }

    .semuakotak .kotak{
        margin-right: 20px;
    }

    .rekomendasi .col-6{
        margin-top: 5px;
    }

    .rekomendasi a img{
        width: 100%;
        height: 70%;
    }

    .carousel-cell {
        width: 40%;
        height: 250px;
        margin-right: 20px;
    }

    .promo{
        margin-top: 30px;
    }
    
    .carousel-cell a img {
        height: 50%;
    }

    .promo .desk {
        margin-top: 10px;
    }

    .promo .desk h4 {
        font-size: 15px;
    }
    
    .promo .desk p {
        font-size: 13px;
        line-height: 20px;
    }
    
    .promo .desk a {
        font-size: 13px;
    }

    .carousel-cell a .tanda {
        display: none;
    }
    
    .carousel-cell a h5 {
        font-size: 16px;
    }
    
    .carousel-cell h6 {
        font-size: 10px;
    }
    
    .carousel-cell h6 span {
        font-size: 10px;
    }
    
    .carousel-cell h6 .harga {
        font-size: 10px;
    }

    .carousel-cell2 {
        width: 100%;
        height: 270px;
        margin-right: 10px;
        border-radius: 20px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    
    .carousel-cell2 .namaolahraga {
        position: absolute;
        left: 0px;
        top: 82%;
        width: 100%;
        height: 60px;
        border-radius: 0px 0px;
    }
    
    .carousel-cell2 .namaolahraga span {
        font-size: 30px;
    }

    .footer-edit {
        padding-top: 35px;
        border-top: 0px solid #b6e388;
        clip-path: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .footer-edit .pilihan {
        font-size: 15px;
        line-height: 30px;
    }
    
    .footer-edit p a {
        font-size: 13px;
    }

    .footer-edit img {
        height: 50%;
    }

    .navbar #navbarSupportedContent .btn-temp{
        display: flex;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        font-size: 16px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-edit .container .logopembayaran img {
        width: 40px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    
    .footer-edit .container .logopembayaran .linkajafoot {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 600px) {
    .footer-edit .container .logopembayaran img {
        width: 26px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    
    .footer-edit .container .logopembayaran .linkajafoot {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 320px) {
    .footer-edit .container .logopembayaran img {
        width: 20px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    
    .footer-edit .container .logopembayaran .linkajafoot {
        width: 15px;
        height: 15px;
    }
}
