.head {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-top: 30px;
    color: #000000;
}

.head .jenisnya {
    color: #0fa958;
}

.headrekom h3 {
    font-weight: 600;
    font-size: 29px;
    color: #000000;
}

.headrekom h3 span {
    font-weight: 700;
    font-size: 29px;
    color: #0fa958;
}

.headrekom .col-5 a {
    font-weight: 600;
    font-size: 20px;
    color: #6b6b6b;
    display: flex;
    justify-content: end;
    align-items: center;
}

.headrekom .col-5 a:hover {
    transition: all ease-in-out 0.4s;
    color: #000000;
}

.headrekom .col-5 a {
    font-weight: 600;
    font-size: 20px;
    color: #6b6b6b;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rekomendasi a {
    text-decoration: none;
}

.rekomendasi a h5:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.rekomendasi a h5 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.rekomendasi h6 {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.rekomendasi h6 span {
    font-weight: 400;
    font-size: 14px;
    color: #0fa958;
}

.rekomendasi h6 .harga {
    font-weight: 700;
    font-size: 14px;
    color: #0fa958;
}

@media (max-width: 991px) {
    .rekomendasi .col-6{
        margin-top: 5px;
    }

    .rekomendasi a img{
        width: 100%;
        height: 70%;
    }
}
