* {
    font-family: "Arial, sans-serif";
}

/* navbar */
.navbar {
    padding-bottom: 30px;
    background-color: #b6e388;
    border-bottom: 20px solid #b6e388;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 25px));
    border-bottom-left-radius: 176px;
    border-bottom-right-radius: 100px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
    color: #000000;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    transition: all ease-in-out 0.4s;
    color: #565656;
}

.navbar .dropdown-menu {
    background-color: #b6e388;
    border: none;
    position: relative;
    top: 0px;
}

.navbar .dropdown-menu .dropdown-item {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.navbar .dropdown-menu .dropdown-item:hover {
    transition: all ease-in-out 0.1s;
    color: #ffffff;
    background: #0dc060;
}

.navbar .garis {
    border: 1px solid #000000;
    height: 40%;
}

.navbar .btn-temp {
    background-color: #ffffff;
    border: none;
    color: #b6e388;
    padding: 5px 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
}

.baris-temp {
    margin-top: 10px;
}

/* footer */
.footer-edit {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: #b6e388;
    border-top: 20px solid #b6e388;
    clip-path: polygon(0 calc(100% - 80%), 100% 0, 100% 100%, 0 100%);
    border-top-left-radius: 176px;
    border-top-right-radius: 100px;
}

.footer-edit .pilihan {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
}

.footer-edit p a {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.footer-edit .container .logopembayaran {
    display: flex;
    flex-wrap: wrap;
}

.footer-edit .container .logopembayaran img {
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-edit .container .logopembayaran .linkajafoot {
    width: 40px;
    height: 40px;
}

@media (max-width: 991px) {
    .footer-edit {
        padding-top: 35px;
        border-top: 0px solid #b6e388;
        clip-path: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .footer-edit .pilihan {
        font-size: 15px;
        line-height: 30px;
    }

    .footer-edit p a {
        font-size: 13px;
    }

    .footer-edit img {
        height: 50%;
    }

    .navbar {
        padding-bottom: 5px;
        border-bottom: none;
        clip-path: none;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .navbar #navbarSupportedContent .btn-temp {
        display: flex;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        font-size: 16px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-edit .container .logopembayaran img {
        width: 40px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .footer-edit .container .logopembayaran .linkajafoot {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 600px) {
    .footer-edit .container .logopembayaran img {
        width: 26px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .footer-edit .container .logopembayaran .linkajafoot {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 320px) {
    .footer-edit .container .logopembayaran img {
        width: 20px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .footer-edit .container .logopembayaran .linkajafoot {
        width: 15px;
        height: 15px;
    }
}
