.tabel {
    width: 90%;
    margin: 50px auto;
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 50px;
}

.tabel h3 {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.tabel .row .form-label {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.tabel .row{
    margin-right: 50px;
    margin-left: -50px;
}

.tabel .tombol {
    background: #DCDCDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    width: 110%;
    height: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
}

.tabel .tombol label{
    font-weight: 400;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 15px;
}

.tabel .riwayat{
    width: 387px;
    height: 181px;
    margin-top: 60px;
    margin-right: 20px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
}

.tabel .riwayat p{
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.tabel .riwayat span{
    font-weight: 700;
    font-size: 14px;
}

hr {
    border: none;
    border-top:2px dotted #000000;
    margin-top: 20px;
}

.tabel .riwayat .tanda .btn{
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}

.tabel .riwayat .tanda .btn-success {
    background: #0FA958;
    border-radius: 35px;
    width: 164px;
    height: 30px;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabel .riwayat .tanda .btn-success:hover {
    background: #0dc060;
    color: #ffffff;
}

.tabel .riwayat .tanda label{
    color: #FFFFFF;
    margin-left: 14px;
    font-weight: 400;
    font-size: 11px;
}

.tabel .baris{
    margin-right: 40px;
}

@media (max-width: 991px) {
    .tabel h3{
        font-size: 20px;
    }
    .tabel .tombol{
        width: 300%;
        margin-top: 10%;
        margin-bottom: -10px;
        margin-right: 100%;
        margin-left: 50%;
    }
    .tabel .baris, .baris1{
        margin-right: 48%;
    }
    .tabel .tombol label{
        font-size: 13px;
    }
}